html,
body {
  height: 100%;
  margin: 0;
}

.flex-box {
  display: flex;

  &-column {
    @extend .flex-box;
    flex-direction: column;
  }

  &-row {
    @extend .flex-box;
    flex-direction: row;
  }
}

.nav-container {
  background-color: #1a90ff;
  height: 50px;
  
  & button {
    color: #fff;
  }

  & .app-title {
    color: #fff;
    font-weight: 900;
  }
}

.nav-drawer {
  position: fixed;
  z-index: 100;
  background-color: #fff;
  border: 1px solid #1a90ff;
  border-top: none;
  border-radius: 0 0 10px 10px;
  width: 40%;
  color:slategrey;
  font-weight: 900;

  & div:nth-child(4) {
    margin-bottom: 1vh;
  }

  & div:last-child {
    margin-top: 1vh;
  }
}

.auth-container {
  width: 100%;
  height: 100vh;

  & .icon-area {
    @extend .flex-box;
    justify-content: center;
    align-items: center;
    height: 25vh;
  }

  & .input-area {
    @extend .flex-box-column;
    align-items: center;
    width: 100vw;
  }

  & .btn-area {
    @extend .flex-box-column;
    align-items: center;
    width: 100vw;
    height: max-content;
    margin-top: 10px;

    & button {
      width: 60vw;
    }

    & .spacing-area {
      height: 1vh;
    }
  }
}

.child-container {
  @extend .flex-box-column;
  width: 100%;
  height: 100vh;
  align-items: center;
}

.page-title {
  @extend .flex-box;
  justify-content: flex-start;
  align-items: center;
  height: 10vh;
  font-size: 3vh;
  width: 85vw;
}

.total-amount {

}

.floating-btn {
  position: fixed;
  bottom: 7vh;
  right: 15vw;
  cursor: pointer;
}

.item-detail {
  @extend .flex-box-column;

  & div {
    width: 85vw;
  }
}

.item-btn-area {
  @extend .flex-box-row;
  margin-top: 2vh;
  width: 85vw;
  justify-content: space-evenly;

  & button {
    width: 40vw;
  }
}