html,
body {
  height: 100%;
  margin: 0;
}

.flex-box {
  display: flex;

  &-column {
    @extend .flex-box;
    flex-direction: column;
  }

  &-row {
    @extend .flex-box;
    flex-direction: row;
  }
}

.nav-container {
  position: fixed;
  background-color: #1a90ff;
  height: 50px;
  width: 100vw;
  z-index: 50;
  
  & button {
    color: #fff;
  }

  & .app-title {
    color: #fff;
    font-weight: 900;
  }
}

.nav-drawer {
  position: absolute;
  z-index: 100;
  background-color: #fff;
  border: 1px solid #1a90ff;
  border-top: none;
  border-radius: 0 0 10px 10px;
  width: 40%;
  top: 50px;
  color:slategrey;
  font-weight: 900;

  & div:nth-child(4) {
    margin-bottom: 1vh;
  }

  & div:last-child {
    margin-top: 1vh;
  }
}

.auth-container {
  position: fixed;
  top: 50px;
  width: 100%;
  height: 100vh;

  & .icon-area {
    @extend .flex-box;
    justify-content: center;
    align-items: center;
    height: 25vh;
  }

  & .input-area {
    @extend .flex-box-column;
    align-items: center;
    width: 100vw;
  }

  & .btn-area {
    @extend .flex-box-column;
    align-items: center;
    width: 100vw;
    height: max-content;
    margin-top: 10px;

    & button {
      width: 60vw;
    }

    & .spacing-area {
      height: 1vh;
    }
  }
}

.child-container {
  @extend .flex-box-column;
  position: sticky;
  top: 50px;
  width: 100%;
  height: 100vh;
  align-items: center;

  .selected-month-box {
    @extend .flex-box-column;
    width: 100vw;
  }

  .vertical-empty-space {
    height: 70px;
  }

  .selected-month-info-box {
    @extend .flex-box-row;
    justify-content: space-between;
    height: 20vh;
  }

  .selected-month-texts {
    width: 60vw;
    font-size: 3vh;

    & > .title {
      margin: 10px 0;
    }

    & > .amount {
      font-size: 5vh;
      justify-content: center;
      text-align: center;
    }
  }
}

.item-list-container {
  @extend .flex-box-column;
  justify-content: flex-start;
  width: 85vw;
  height: 65vh;
  overflow-y: auto;
  overflow-x: hidden;
}

.item-info-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 85vw;
  height: 6vh;
  margin-bottom: 3vh;

  & .item-info-deletable {
    width: 72vw;
  }

  & .item-info {
    width: 100vw;
  }

  .icon {
    @extend .flex-box-row;

  }
}

.floating-btn {
  position: fixed;
  bottom: 0vh;
  right: 5vw;
  cursor: pointer;
}

.page-title {
  @extend .flex-box;
  top: 10vh;
  justify-content: flex-start;
  align-items: center;
  height: 3vh;
  font-size: 3vh;
  width: 85vw;
}

// 상세 내용 조회 영역 스타일
.item-container {
  position: fixed;
  top: 20vh;
}

.item-detail {
  @extend .flex-box-column;

  & div {
    width: 85vw;
  }
}

.item-btn-area {
  @extend .flex-box-row;
  margin-top: 2vh;
  width: 85vw;
  justify-content: space-evenly;

  & button {
    width: 40vw;
  }
}
